Byaldi
accelerate
bitsandbytes
colpali_engine
datasets
deepspeed
einops
evaluate
flash_attn
huggingface_hub
jsonlines
matplotlib-inline
numpy
pandas
peft
pillow
pytrec_eval-terrier
qwen-vl-utils
ray
regex
sacrebleu
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
tensorboard
tensorboardX
torch
torchvision
tqdm
trackio
transformers
trl